{%load static%}
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    body{
        background-color: rgba(203, 248, 248, 0.384);
    }
    .container-fluid{
        background-color: rgb(31, 20, 20);
        
    }
    .btn{
      position: relative;
            cursor: pointer;
              border: 1px solid #3498db;
              background-color: transparent;
              height: 31px;
                width: 100px;
                font-size: 15px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              box-shadow: 0 6px 6px rgb(0 0 0 / 60%);
              color: #191f24;
    }
    #addDoctor{
      z-index: 1050;
     
      top: -294px;
      background-color:white;
      position: relative;
      height: 400px;
      width: 600px;
      
      text-align: center;
      box-shadow: 10px 10px 5px grey;
    }
    #addPatient{
      z-index: 1050;
      background-color: white;
      height: 250px;
      width: 200px;
      border: black solid;
      text-align: center;
    }
    input{
      text-align: center;
      border: 0;
      outline: 0;
      border-bottom: 2px solid rgb(17, 17, 17);
      width: 400px;
      height: 40px;
    }
    input:hover{
      border-bottom: 2px solid rgb(55, 57, 226);
    }
    
    
</style>
    <body>
        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="backad">Home</a></li>
                  
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  
                  <li><a href="adminlogout"><span class="glyphicon glyphicon-log-in"></span onclick='window.location.href="adminlogout"'> Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <div class='row justify-content-center' >
            
        <div class='col-lg-2'>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" onclick="load('doctordata')" >Doctor Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" onclick="load('patientdata')" >Patient Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" onclick="load('feedback')">Feedback</a>
                </li>
               
                
              </ul>
        </div>
        <div class='col-lg-10 '>
            
            <div id="table-responsive">

              

                   
    
          
 
  
  
  
 
              
          </div>
      </div>
  </div>
  
  
  <div class="modal fade" id="editD" tabindex="-1" role="dialog" aria-labelledby="edit" style="display: none;" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input class="form-control " id="editnameD" type="text"  value="{{doctordata.0}}">
              </div>
              <div class="form-group">
          
                <input class="form-control " id="editemailD" type="text" value="{{doctordata.1}}">
              </div>
              <div class="form-group">
                <input class="form-control " id="editpasswordD" type="text" value="{{doctordata.2}}">
          
               </div>
              <div class="form-group">
                <input class="form-control " id="editphonenumD" type="text" value="{{doctordata.3}}">
          
              </div>
              <div class="form-group">
                <input class="form-control " id="editspecializationD" type="text" value="{{doctordata.4}}">
          
              </div>

            </div>
            <div class="modal-footer ">
              <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" onclick="editdoctordata(editpagedispalyD.doctorid)"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
          </div>
          <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
      </div>



        <div class="modal fade" id="editP" tabindex="-1" role="dialog" aria-labelledby="edit" style="display: none;" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <input class="form-control " id="editnameP" type="text"  value="{{patientdata.0}}">
                </div>
                <div class="form-group">
            
                  <input class="form-control " id="editemailP" type="text" value="{{patientdata.1}}">
                </div>
                <div class="form-group">
                  <input class="form-control " id="editpasswordP" type="text" value="{{patientdata.2}}">
            
                 </div>
                <div class="form-group">
                  <input class="form-control " id="editphonenumP" type="text" value="{{patientdata.3}}">
            
                </div>
                <div class="form-group">
                  <input class="form-control " id="editstatusP" type="text" value="{{patientdata.4}}">
            
                </div>
  
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" onclick="editpatientdata(editpagedispalyP.patientid)"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
              </div>
            </div>
            <!-- /.modal-content --> 
            </div>
            <!-- /.modal-dialog --> 
          </div>
          </div>
        </div>
        </div>
    </body>



<script>
$(document).ready(function(){
$("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    
    $("[data-toggle=tooltip]").tooltip();
});
function load(page)
{
  $('#table-responsive').load(page)
}
load('doctordata')
function add_new(id){
   
    var popup = document.getElementById(id);
    popup.classList.toggle("show");
 

  
} 


function deleterowP(id){
  //window.location.href='deleterowofP?rowid='+id; 
  $.get('deleterowofP?rowid='+id, function(data){
    load('patientdata')
  });
}
function deleterowD(id){
  console.log(id)
  //window.location.href='deleterowofD?rowid='+id; 
  $.get('deleterowofD?rowid='+id, function(data){
    load('doctordata')
  });
}
function deleterowF(id){
 // window.location.href='deleterowofF?rowid='+id; 
  $.get('deleterowofF?rowid='+id, function(data){
    load('feedback')
  });
}
function editdoctordata(doctorid){
  doctorid=doctorid
  console.log(doctorid)
  doctorname=document.getElementById('editnameD').value 
  email=document.getElementById('editemailD').value 
  phonenum=document.getElementById('editphonenumD').value 
  password=document.getElementById('editpasswordD').value 
  specialist=document.getElementById('editspecializationD').value 
  console.log(doctorname,email,phonenum,password,specialist)
  //window.location.href='editdoctordata?doctorid='+doctorid+'&name='+doctorname+'&phone='+phonenum+'&password='+password+'&specialist='+specialist;
  $.get('editdoctordata?doctorid='+doctorid+'&name='+doctorname+'&email='+email+'&phone='+phonenum+'&password='+password+'&specialist='+specialist,function(data){
     load('doctordata')
    cls=document.getElementsByClassName('modal fade')
     console.log(cls)
     for( var i = 0 ; i <cls.length; i++){
         console.log(cls[i])
         cls[i].style.display='none';
         
   
 } 
 $('.modal-backdrop').remove();
 //document.getElementById('editD').style.display='none'
  });
  
   
  
}
function editpatientdata(patientid){
  patientid=patientid
  console.log(patientid)
  patientname=document.getElementById('editnameP').value 
  email=document.getElementById('editemailP').value 
  phonenum=document.getElementById('editphonenumP').value 
  password=document.getElementById('editpasswordP').value 
  status=document.getElementById('editstatusP').value 
  var res = '^\+?1?\d{10}$';
  var val=phonenum.match(res)
  console.log(val)
  if((phonenum.match(res)==null))
        {
          //console.log(val)
          window.alert("please enter valid data");
          
           
        }
      else
        {
         window.alert(val)
          
       
        }
  //console.log(patientname,email,phonenum,password,status)
  //window.location.href='editdoctordata?doctorid='+doctorid+'&name='+doctorname+'&phone='+phonenum+'&password='+password+'&specialist='+specialist;
  
  
}
function editpagedispalyD(doctorid){
  editpagedispalyD.doctorid=doctorid
  console.log(doctorid)
  console.log('{{doctors}}')

  //window.location.href='getdoctordata?doctorid='+doctorid;
 $.get('getdoctordata?doctorid='+doctorid,function(data){
    document.getElementById('editD').style.display='block'
    var data = JSON.parse(data);
    document.getElementById('editnameD').value = data[0]
  document.getElementById('editemailD').value  = data[1]
  document.getElementById('editpasswordD').value  = data[2]
  document.getElementById('editphonenumD').value  = data[3]
  document.getElementById('editspecializationD').value  = data[4]
      
  });

}
function editpagedispalyP(patientid){
  editpagedispalyP.patientid=patientid
  console.log(patientid)
  $.get('getpatientdata?patientid='+patientid,function(data){
      document.getElementById('editP').style.display='block'
      var data = JSON.parse(data);
    document.getElementById('editnameP').value = data[0]
  document.getElementById('editemailP').value  = data[1]
  document.getElementById('editpasswordP').value  = data[2]
  document.getElementById('editphonenumP').value  = data[3]
  document.getElementById('editstatusP').value  = data[4]
  });

}
</script></html>